
/* fonts */
@font-face {
	font-family: 'Jazz_Ball_Regular';
  src: url('fonts/Jazz_Ball_Regular.ttf');
}
@font-face {
	font-family: 'ProximaRegular';
  src: url('fonts/ProximaNovaRegular.ttf');
}
@font-face {
	font-family: 'ProximaBold';
  src: url('fonts/ProximaNovaBold.ttf');
}
body {
	margin: 0;
	font-family: 'ProximaRegular';
}
.body {
	background: #fff;
	float: left;
	width: 100%;
}
/* div classes */
.fade_wrap .col1, .fade_wrap .header, .fade_wrap .mainwall, .fade_wrap .footer, .fade_wrap .details, .fade_wrap .explanation, .fade_wrap .offers, .fade_wrap .galery_comments{
	width: 100%;
	float:left;
}
.fade_wrap .mainwall {
	position: relative;
}
.fade_wrap .explanation, 
.fade_wrap .offers {
	padding: 0 50px;
	box-sizing: border-box;
}
.fade_wrap #message {
	display: none;
}
.fade_wrap .galery_comments {
	text-align: center;
}
.fade_wrap .col2 {
	width: 45%;
	float: left;
	position: absolute;
	top:0;
}
.fade_wrap .media_title {
	width:600px; 
	opacity:0.99;
}
.fade_wrap .galery {
	margin-top: 60px;
	margin-bottom: 60px;
	width: 512px;
	display: inline-block;
	vertical-align: middle;
	overflow-x: auto;
	overflow-y: hidden;
}
.fade_wrap .first-image {
	max-width:65% !important;
}
.fade_wrap .last-image {
	max-width:65% !important;
}
.fade_wrap .img_div {
	cursor: pointer;
	float:left;
	margin-right: 1%;
}
.fade_wrap .img_div img {
	max-width: 100%;
}

.fade_wrap .comments {
	position: relative;
	width: 490px;
	background-color: #F8F8F8; 
	display: inline-block;
	padding-top:30px;
	padding-bottom:10px;
	padding-left:35px;
	padding-right:25px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #E8E8E8;
	margin-right:5%;
	vertical-align: middle;
}
.fade_wrap #ar1, .fade_wrap #ar2 {
	cursor: pointer;
}
.fade_wrap .border_static {
	float: left;
	width: 135px;
	height: 1px;
}
.fade_wrap .comment {
	text-indent:-8%;
	padding-left:60px;
	padding-right:30px;
	padding-bottom: 15px;
	font-size:1.3em;
	line-height: 25px;
	position: relative;
}
.fade_wrap .comments::before {
	content: url('images/quote.png');
	display: block;
	position: absolute;
	font-size: 3em;
	top: 0px;
	left:20px;
}
.fade_wrap .comments::after {
	content: url('images/quote.png');
	display: block;
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	position: absolute;
	font-size: 3em;
	bottom: -5px;
	right:20px;
}
.fade_wrap .reverse {
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
	position: relative;
	font-size: 3em;
	left:94%;
	bottom:24px;
}
.fade_wrap .reverseArrow, 
.fade_wrap .Arrow {
	max-width: 15%;
	bottom: -70px;
}
.fade_wrap .reverseArrow {
	right: 0px;
	position: absolute;
	-moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
.fade_wrap .Arrow {
	right: 70px;
	position: absolute;
}
.fade_wrap .footer{
	background: #232323;
}
.fade_wrap .item_container_happy_booth {
	text-align: center;
}
.fade_wrap .col3 {
	width: 33.333%;
	float:left;
}
.fade_wrap .logo {
	line-height: 66px;
	padding-left:4%;
	padding-right: 4%;
	float:left;
}
.fade_wrap .bot-logo {
	line-height: 66px;
	float:left;
	padding-left: 50px;
}
.fade_wrap #bot-menu {
	padding-left: 4%;
}
.fade_wrap .logo img, .fade_wrap .bot-logo img {
	vertical-align: middle;
}
.fade_wrap .col4 {
	margin-top: 36px;
	margin-bottom:30px;
	width: 260px;
	display: inline-block;
	margin: 36px 6px 36px 6px;
}
.fade_wrap .col4-2{
	margin: 36px 6px 36px 6px;
	width: 260px;
	display: inline-block;
	vertical-align: top;
}
.fade_wrap .col5 {
	height: 400px;
    width: 400px;
    position: relative;
    display: inline-block;
    /* width: 25%; */
    /* float: left; */
    /* margin-right: 3.4%; */
    background: white;
    border-radius: 3px;
    vertical-align: middle;
    margin: 36px 15px 36px 15px;
}
.fade_wrap .col5-2 {
    display: inline-block;
    width: 450px;
    margin-right: 5.2%;
    text-align: left;
    vertical-align: middle;
    margin: 36px 15px 36px 15px;

}
.fade_wrap .col5 p:first-child{
	padding-left: 80px;
	padding-right: 80px;
}
.fade_wrap .col5-2 p {
	text-indent: 1.4em;
	
}
.fade_wrap .zoom{
	    background: url(images/zoom.png) no-repeat;
    position: relative;
    margin-left: -40px;
    margin-bottom: -80px;
    top: 40px;
    left: 50%;
    width: 80px;
    height: 80px;
    text-indent: -999em;
	visibility:hidden;
  	opacity:0;
	transition:visibility 0.5s linear,opacity 0.5s linear;
}
.fade_wrap .col5-2 li {
	margin-top:-45px;
}
.fade_wrap .col5-2 li p {
	margin-top:0.5%;
	margin-bottom:0.5%;
}
.fade_wrap .col5-2 li:before {
	

	content: "•";
	color: white;
	position: relative;
	font-size: 3em;
	top:39px;
}
.fade_wrap #wrapper {
	visibility: hidden;
	opacity: 0.77;
	z-index: 10000;
	background-color: #000;
	float: left;
	width: 100%;
	height: 1000px;
	margin-top:-1000px;
}

.fade_wrap #second_wrapper {
	display: none;
	z-index: 20000;
	float: left;
	width: 100%;
	height: 2000px;
	margin-top:-2000px;
}
.fade #galery_image {
	
    z-index: 10000;
     max-height: 320px; 
    /* position: fixed; */
    left: 0;
    max-width: 1000px;
}
.fade #exit {
    cursor: pointer;
    display: none;
    right: 28%;
    position: fixed;
    width: 54px;
    z-index: 11111;
}
.fade #galery_arrow_forward {
    right: 28%;
    bottom: 15%;
    cursor: pointer;
    position: fixed;
    display: none;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 111111111111;
}
.fade #galery_arrow_back {
    left: 28%;
    bottom: 15%;
    cursor: pointer;
    position: fixed;
    display: none;
    /* bottom: 50%; */
    z-index: 1111111111111111;
}
.fade_wrap .opacity {
	background-color: rgba(150, 122, 38, 0.3);
}
.fade_wrap .height-33 {
	height:33.33333px;
}

/* backgrounds */
.fade_wrap .background1 {
    background: rgba(0,0,0,0);
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}
.fade_wrap .background2 {
	background: url(images/bg_2.png);
}
.fade_wrap .background3 {
	background: url(images/bg_3.png);
}
.fade_wrap .phones {
	padding-left: 7.2%;
	padding-top:10px;
	line-height: 25px;
	text-align: right !important;
	float: left;
}
.fade_wrap .phones p {
	text-align: left;
	vertical-align: middle;
	padding-left: 50px;
	padding-top: 0;
	padding-bottom: 0;
}
.fade_wrap .social {
	line-height: 66px;
	padding-left:50px;
	float: left;
}
.fade_wrap .social img {
	vertical-align: middle;

}
.fade_wrap .header {
	border-bottom: 3px solid #efaf30;

}
.fade_wrap .header_wrap {
	width: 100%;
	float: left;
}
.fade_wrap {
	width: 100%;
	float: left;
	background: #fff;
}
.fade .fade_container {
    width: 100%;
    overflow: auto;
    position: fixed;
    display: none;
    left: 0;
    bottom: 0;
}
.fade_wrap .explanation p {
	padding: 2% 10%;
}

/* p classes*/
.fade_wrap .bold {
	font-family: 'ProximaBold';
	font-weight: 600;
}
.fade_wrap .small {
	font-size: 1em;
}
.fade_wrap .small2 {
	font-size: 1.15em;
}
.fade_wrap .middle {
	font-size: 1.5em;
}
.fade_wrap .middle2 {
	font-size: 1.3em;
}
.fade_wrap .large {
	font-size: 2em;
}
.fade_wrap .biggest {
	font-size: 2.8em;
}
.fade_wrap .center {
	text-align: center;
}
.fade_wrap .white {
	color: #fff;
}
.fade_wrap .font_jazz {
	font-style: italic;
	font-family: 'Jazz_Ball_Regular';
}
.fade_wrap .angle {
	-webkit-transform: rotate(-6deg); /* для safari и chrome браузеров */
	-moz-transform: rotate(-6deg); /* для FF */
	-o-transform: rotate(-6deg); /* для Opera */
	transform: rotate(-6deg); /* для остальных браузеров поддерживающий поворот по-умолчанию */
	-ms-transform: rotate(-6deg); /* IE */
}
.fade_wrap .no-margin {
	margin:0;
}
.fade_wrap .phones p {
	font-weight: 900;
	font-size: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
}
/* inputs */ 
.fade_wrap #phone_number, .fade_wrap #send, .fade_wrap .order, .fade_wrap .order-small {
	border-radius: 24px;
	border:none;
	
}
.fade_wrap input:focus{
	border: 1px solid rgba(82,168,236,0.8) !important;
	border-color: rgba(82,168,236,0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 50px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 50px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px  rgba(0,0,0,0.075),0 0 50px rgba(82,168,236,0.6); 
}
.fade_wrap input {
	padding-left:38px;
	margin-top:-5px;
	font-size: 16px;
	border: 1px solid #cccccc !important;
    line-height: 25px;
    color: #555555;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px  rgba(0,0,0,0.075);
    -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
    -o-transition: border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
}
.fade_wrap #send {
	background: #efaf30;
	font-size: 17px;
	padding:0;
	margin-top:12px;
	outline: 0;
	line-height: 14px;
}
.fade_wrap .order {
	outline: 0;
	margin-left: 20%;
	margin-right:20%;
	height:45px;
	width:60%;
	float: left;
	background: white;
}
.fade_wrap .order-small {
	outline:0;
	height: 40px;
	width:60%;
	float: left;
	background: white;
	margin-left: 20%;
	margin-right:20%;
}
.fade_wrap .order, .fade_wrap .order-small, .fade_wrap #send {
	cursor: pointer;
}
.fade_wrap .order:hover, .fade_wrap .order-small:hover, .fade_wrap #send:hover {
	box-shadow: inset 0 -4px -4px  #fff, 0 0 4px  #efaf30, ;
}
.fade_wrap .order:active, .fade_wrap .order-small:active, .fade_wrap #send:active {
-moz-box-shadow: inset 0 0 0 0 #fff, 0 0 6px 1px #efaf30;
  -webkit-box-shadow: inset 0 0 0 0 #fff, 0 0 6px 1px #efaf30;
  text-shadow: 0 -1px 1px #efaf30;
}
.fade_wrap .yellow {
	background: #efaf30 !important;
	width:45% !important;
	margin-left: 27.5% !important;
	margin-right: 27.5% !important;
}
.fade_wrap #phone_number {
	float: left;

}
/* colors */
.fade_wrap .phones {
	
	color: #efaf30;
}
/* Other */
.fade_wrap .menu li {
	cursor: pointer;
	float:left;
	font-size: 1.2em;
	margin-right: 20px;
	margin-bottom: 20px;

}
.fade_wrap .menu li a {
	color:#000;
	text-decoration: none;
}
.fade_wrap .menu.white li a {
	color:#fff;
}
/* media */

@media screen and (max-width: 1346px){ 
	.fade_wrap .col5 {
		margin-bottom: 30px;
	}
	.fade_wrap .col5-2 {
		margin-top: 0;		
	}

}
@media screen and (max-width: 1300px){ 
	.fade_wrap .menu li {
		width: 120px;
	}
	.fade_wrap .col4, .col4-2 {
		margin-left: 10%;
		margin-right: 10%;
	}
	.fade_wrap .comments {
		margin-right: 0;
	}
	.fade_wrap .col38 {
		width:35%;
	}
	.fade_wrap .col38 p {
		text-indent: -11% !important;
	}
	.fade_wrap .logo,
	.fade_wrap .contacts,
	.fade_wrap .bot-logo {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 1282px){
	.fade_wrap .logo,
	.fade_wrap .contacts,
	.fade_wrap .bot-logo {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.fade_wrap .contacts {
		text-align: center;
	}
	.fade_wrap .phones {
		padding-left: 0;
	}
}

@media screen and (max-width: 1170px){ 
	.fade_wrap .col38 p {
		text-indent: -12% !important;
	}
	.fade_wrap .galery_comments {
		margin-bottom: 100px;
	}
	.fade_wrap .col2 {
		padding-top: 0 !important;
	}
}
@media screen and (max-width: 1040px){ 
		.fade_wrap .col38 p {
		text-indent: -13% !important;
	}
}

@media screen and (max-width: 991px){ 
	.fade_wrap .col4, .fade_wrap .col4-2 {
		margin-left: 50px;
		margin-right: 50px;
	}
}
@media screen and (max-width: 961px){ 

	.fade_wrap .media_title {
		width: 400px;
	}
	.fade_wrap .biggest {
		font-size: 1.8em;
	}
	.fade_wrap .biggest {
		font-size: 2em;
	}
}
@media screen and (max-width: 860px){ 
	.fade_wrap .biggest {
		font-size: 1.5em;
	}

}
@media screen and (max-width: 700px){ 
	.fade_wrap .col4, .fade_wrap .col4-2 {
		margin-left: 50px;
		margin-right: 50px;
	}
	.fade_wrap .comments {
		box-sizing: border-box;
		width: 100%;
	}
	.fade_wrap .media_title {
		width: 300px;
	}
	.fade_wrap .biggest {
		font-size: 1.2em;
	}
	.fade_wrap .footer > .col3 {
		display: none;
	}
	.fade_wrap #phone_number,
	.fade_wrap #send {
		width: 220px !important;
		height: 30px !important;
		font-size: 14px;
	}
}
@media screen and (max-width: 650px){
	.fade_wrap .header_wrap {
		width: 650px;
	}
	.fade_wrap .header {
		overflow: auto;
	}
	.fade_wrap .col3 {
		float: right;
	}
	.fade_wrap .header .phome > div p {
		padding-left: 30px;
	}
}
@media screen and (max-width: 501px){
	.fade_wrap .galery {
		margin-top: 60px;
		margin-bottom: 60px;
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.fade_wrap .galery_wrap {
		float: left;
		overflow-x: auto;
		width: 512px;
	}
	.fade_wrap .col5-2 {
		margin-left: 0;
		margin-right: 0;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		box-sizing: border-box;
	}
	.fade_wrap .background1 {
		height: 219px;
		max-width: none;
		width: auto;
	}
	.fade_wrap .mainwall {
		overflow: hidden;
	}
	.fade_wrap .col4, .fade_wrap .col4-2 {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.fade_wrap .col5 {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
}
@media screen and (max-width: 460px){ 

	.fade_wrap .col1 img.shine {
		display: none;
	}
	.fade_wrap .col1 div.shine_text {
		width: 100% !important;
	}
	.fade_wrap .callback {
		width: 200px !important;
		font-size: 0.8em;
	}
	.fade_wrap .explanation, 
	.fade_wrap .offers {
		padding: 0;
	}
	.fade_wrap .col0 {
		padding-left: 30px;
	}
}
@media screen and (max-width: 336px){ 
	.fade_wrap .media_title {
		width: 200px;
	}
	.fade_wrap .biggest {
		font-size: 1em;
	}
	.fade_wrap #phone_number {
		width: 100%;
		box-sizing: border-box;
	}
	.fade_wrap .header {
		overflow: scroll;
	}
	.fade_wrap .col2 {
		width: 100%;
		box-sizing: border-box;
	}
	.fade_wrap .col5 {
		height: 320px;
	}
	.fade_wrap .col5-2 {
		overflow: auto;
		margin-bottom: 0;
		padding-bottom: 36px;
	}
	.fade_wrap .col5-2 p:first-child {
		font-size: 1em;
	}
	.fade_wrap .col5-2 ul + p {
		font-size: 1em;
	}
	.fade_wrap #phone_number,
	.fade_wrap #send {
		width: 100% !important;
		font-size: 12px;
		margin-right: 0 !important;
	}
	.fade_wrap #phone_number {
		text-align: center;
		padding: 0;
	}
	.fade_wrap .col5 p:first-child {
		padding-left: 0;
		padding-right: 0;
	}
	.fade_wrap .middle2,
	.fade_wrap .col5 .small2 {
		font-size: 0.8em;
	}
	.fade_wrap #com0 {
		padding: 0;
	}
	.fade_wrap .comments {
		padding-bottom: 20px;
	}
	.fade_wrap .comments::after{
		bottom: -15px;
	}
	.fade_wrap .explanation > .text {
		font-size: 1em;
	}
	.fade_wrap .media_title {
		width: 100%;
	}
	.fade_wrap .callback {
		width: 100% !important;
	}
	.fade_wrap .col4-2 img {
		width: 60%;
		padding-right: 20% !important;
		padding-left: 20% !important;
	}
}
@media screen and (max-width: 200px){
	.fade_wrap .footer {
		overflow: auto;
	}
	.fade_wrap .font_jazz {
		font-size: 1em !important;
	}
}